<div class="span8" id="note">
  <div class="well well-small">
    <div class="row-fluid">
      <div class="span6" id="exam_img"><%= image_tag "#{@question.img}" %></div>
      <div class="span6" id="exam_answer">
        <p id="question_info"><%= @question.info %></p>
        <p id="question_explanation"><%= @question.explanation %></p>
      </div>
    </div>
  </div>
</div>