<div class="well ">
  <ul class="nav nav-list" id="year">
    <li class="nav-header">연도 선택</li>
    <li class="item"><a href="#">2012</a></li>
    <li class="item"><a href="#">2011</a></li>
    <li class="item"><a href="#">2010</a></li>
  </ul>
  <ul class="nav nav-list" id="exam">
    <li class="nav-header">시험 선택</li>
    <li class="item"><a href="#">3월</a></li>
    <li class="item"><a href="#">4월</a></li>
    <li class="item"><a href="#">6월</a></li>
    <li class="item"><a href="#">7월</a></li>
    <li class="item"><a href="#">9월</a></li>
    <li class="item"><a href="#">10월</a></li>
    <li class="item"><a href="#">11월</a></li>
  </ul>
  <ul class="nav nav-list" id="subject">
    <li class="nav-header">과목 선택</li>
    <li class="item"><a href="#">언어</a></li>
    <li class="item"><a href="#">수리가</a></li>
    <li class="item"><a href="#">수리나</a></li>
    <li class="item"><a href="#">외국어</a></li>
  </ul>
</div><!--/.well -->